<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../static/styles.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y77X30DKHQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y77X30DKHQ');
</script>
</head>
<body>
  <nav>
    <div class="logo"><img src="/static/Hyper.jpg" alt="logo" width="45%"><span>Hyper-K Tech</span></div>
    <div>
      <ul>
       


      <div class="dropdown">
        <a href="/"><button class="dropbtn">Home</button></a>
        <div class="dropdown-content">
            <a href="/subscribe">Subscribe</a>
            <a href="/robloxlink">Roblox</a>
          </div>
        </div>



        <div class="dropdown">
          <button class="dropbtn">Projects</button>
          <div class="dropdown-content">
            
              <a href="http://kaveeshmital.herokuapp.com/">Main Website</a>
              <a href="https://hyperktech-encrypt.herokuapp.com" target="_blank">Encryption Decryption Website</a>
              <a href="https://english-to-minionese.herokuapp.com/" target="_blank">English to Minionese</a>
              
            </div>
          </div>

          <div class="dropdown">
            <a href="/about_me"><button class="dropbtn">About Me</button></a>
              </div>

<!-- 
          <div class="dropdown">
            <a href="/login"><button class="dropbtn">Login</button></a>
              </div>
  
              <div class="dropdown">
                <a href="/register"><button class="dropbtn">Register</button></a>
                  </div> -->



      </ul>
    </div>
  </nav>
    <div class="cake1">
        <h3>ABOUT ME</h3>
        <img src="../static/kaveesh Mital.png" alt="Kaveesh Mital" width="300" height="400">
    </div>    
    <h1>KAVEESH MITAL</h1>
<p>Hello, my name is Kaveesh. I am 9 years old and I live in the US. My name is in the  Indian origin and is another name of Ganesh, the elephant God who is the remover of obstacles.The literal meaning of my name means "poet".My passion is reading,gaming,coding,art and music. I love to code on Roblox,HTML,Python, and Scratch so check out my <strong>Projects</strong> tab.I really love to learn and when I learn music it is so beautiful. I am learning piano and violin which are my favorite string instruments. I also love to spend my time drawing and painting so you can find art in the <strong>Projects</strong> tab.Check out my youtube channel by clicking on the <strong>Subscribe</strong> button.Hope you enjoy!</p> 
<h1> ME WITH MY BROTHER</h1>
<img src="../static/Me and brother.jpg" alt="Me and my brother" width="450" height="500">
<p>In this picture me and my brother are standing in the place where we pray. This is in my house.</p>
<img src="../static/me solved one side cube.jpg" alt="I solved one side of a cube" width="450" height="500">
<p>In this picture I am showing you that I solved one side of a rubix cube. I solved the red side of the cube.I am in my car.</p>
</body>
</html>