<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../static/styles.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y77X30DKHQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y77X30DKHQ');
</script>
</head>
<body>
  <nav>
    <div class="logo"><img src="/static/Hyper.jpg" alt="logo" width="45%"><span>Hyper-K Tech</span></div>
    <div>
      <ul>
       


      <div class="dropdown">
        <a href="/"><button class="dropbtn">Home</button></a>
        <div class="dropdown-content">
            <a href="/subscribe">Subscribe</a>
            <a href="/robloxlink">Roblox</a>
          </div>
        </div>



        <div class="dropdown">
          <button class="dropbtn">Projects</button>
          <div class="dropdown-content">
            
              <a href="http://kaveeshmital.herokuapp.com/" target="_blank">Main Website</a>
              <a href="https://hyperktech-encrypt.herokuapp.com" target="_blank">Encryption Decryption Website</a>
              <a href="https://english-to-minionese.herokuapp.com/" target="_blank">English to Minionese</a>
              
            </div>
          </div>

          <div class="dropdown">
            <a href="/about_me"><button class="dropbtn">About Me</button></a>
              </div>


          <!-- <div class="dropdown">
            <a href="/login"><button class="dropbtn">Login</button></a>
              </div>
  
              <div class="dropdown">
                <a href="/register"><button class="dropbtn">Register</button></a>
                  </div> -->


      </ul>
    </div>
  </nav>
   <h1>
     Fun Facts
   </h1>
   <div class="grid-container">
      <div class="grid-item"><a href="/facts/math">Math Trivia</a></div>
      <div class="grid-item"><a href="/facts/trivia">Random Trivia</a></div>
      <div class="grid-item"><a href="/facts/dates">About Dates</a></div>
      <div class="grid-item"><a href="/facts/years">About Years</a></div>
   </div>
</body>
</html>